@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#controlPanel {
	background-color: #eee;
	padding: 20px;
}

div {
	width: 20px;
	height: 20px;
	background-color: #ddd;
	border: solid 1px #aaa;
	display: inline-block;
	margin: 2px;
}