body {
}

#wrapper {
    width:1024px;
    height:auto;
    margin:auto;
}

#wrapper #superheltGalleri {
    
}

#superheltGalleri img {
    width:145px;
    height:215px;
    display:inline-block;
    margin:5px;


}

#dropZone {
    height:auto;
    width:100%;
    padding:10px;
}

#dropZone #imgContainer {
    float:left;
    padding:5px;
    width:145px;
    height:215px;
    border:2px dashed #000;
    position:relative;
}

#dropZone table {
    display:inline-block;
    float:right;
    width:84%;
    height:100%;
    border-spacing:0px;
    padding:0px;
}

#dropZone table th {
        font-family: 'Century Gothic';
        font-size: 16px;
        font-weight: bold;
        width: 5%;
        padding: 0px;
        margin: 0px;
}

 #dropZone table tbody tr {
        height:45px;
    }

#dropZone table tbody tr:nth-child(odd){
        background-color:#d8d8d8;
}

.position {
    top:0px;
    left:0px;
   position:relative;
}