* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #f7f6f5;
	font-family: sans-serif;
}
.content {
	max-width: 960px;
	margin: auto;
}
.sectionTitle {
	width: 70px;
	position: absolute;
	margin-left: -80px;
	text-align: center;
	font-size: 1.3em;
	font-weight: 900;
}
#search .sectionTitle {
	color: #333;
}
#search:hover  .sectionTitle {
	color: #fff;
}
#code .sectionTitle {
	color: #fff;
}
#code:hover  .sectionTitle {
	color: #333;
}
#demo .sectionTitle {
	color: #27ae60;
}
#demo:hover .sectionTitle{
	color: #fff;
}


/* SEARCH SECTION */
#search {
	position: relative;
	min-height: 100px;
	background-color: #3c3c3c;
	padding-top: 20px;
}
#search form {
	display: inline;
}
#search input, 
#search input[type="password"], 
#search input[type="search"], 
isindex {
	width: 740px;
	margin-right: 10px;
	background-color: #3c3c3c;
	color: #fff;
	border: 0px;
	font-size: 4em;
}
*:focus {
    outline: none;
}
#search #result {
	position: absolute;
	display: block;
	float left;
	color: #fff;
	z-index: 1;
}
#search #result ul {
	list-style: none;
}
#search #result ul li {
	background-color: #2ecc71;
	cursor: pointer;
	padding: 5px;
}
#search #result ul li:hover {
	background-color: #27ae60;
}


/* CODE SECTION */
#code {
	position: relative;
	min-height: 200px;
	padding-top: 50px;
}
#code #snippetTitle {
	margin-bottom: 10px;
}
#code #data {
	width: 700px;
	min-height: 50px;
	padding: 20px;
	margin-bottom: 50px;
	display: inline-block;
	background-color: #fff;
	border: solid 1px #ddd;
}
#code #data #snippet-container {
	font-size: .9em;
	overflow: auto;
}
#code #tags {
	width: 200px;
	float: right;
}
#code #tags ul {
	list-style: none;
}
#code #tags ul li {
	cursor: pointer;
}

/* DEMO SECTION */
#demo {
	min-height: 200px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #2ecc71;
}
#demo #renderedOutput {
	width: 640px;
	padding: 50px;
	background-color: #fff;
	border: solid 1px #ddd;
}