* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ecf0f1;
}

#splashScreen {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #ecf0f1;
	z-index: 1;
    text-align:center;
}
#splashScreen .logo {
	margin-top: 50px;
}


#start {
	text-align: center;
	position: absolute;
}
#start label {
	display: inline-block;
}
input{
	position: absolute;
	text-align: center;
	background-color: #ecf0f1;
	color: #2980b9;
	border: 0px;
	font-size: 4em;
}
*:focus {
    outline: none;
}

#statusScreen {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
    display:none;
    background-color:#ecf0f1;
}
#statusContent {
	width: 200px;
	position: absolute;
}

#scoreboard {
	max-width: 300px;
	margin: auto;
	padding: 10px;
	text-align: center;
}
#scoreboard h1 {
	display: block;
}
#scoreboard p {
	display: block;
}

#gameWrapper {
	width: 415px;
	height: 415px;
	margin-top: 50px;
	position: absolute;
	background-color: #2c3e50;
	border-radius: 100%;
	padding: 10px;
	padding-top: 20px;
	padding-left: 20px;
}

.gameButton {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin-bottom: 4px;
	cursor: pointer;
	transition: background-color 0.1s ease;
}
.gameButton:nth-of-type(1) {
	border-top-left-radius: 100%;
	background-color: #27ae60;
}
.gameButton:nth-of-type(1):hover {
	background-color: #2ecc71;
}
.gameButton:nth-of-type(2) {
	border-top-right-radius: 100%;
	background-color: #c0392b;
	margin-left: 4px;
}
.gameButton:nth-of-type(2):hover {
	background-color: #e74c3c;
}
.gameButton:nth-of-type(3) {
	border-bottom-left-radius: 100%;
	background-color: #f39c12;
}
.gameButton:nth-of-type(3):hover {
	background-color: #f1c40f;
}
.gameButton:nth-of-type(4) {
	border-bottom-right-radius: 100%;
	background-color: #2980b9;
	margin-left: 4px;
}
.gameButton:nth-of-type(4):hover {
	background-color: #3498db;
}
#centerCircle {
	width: 200px;
	height: 200px;
	top: -310px;
	left: 100px;
	position: relative;
	background-color: #2c3e50;
	border-radius: 100%;
	text-align: center;
}
#centerCircle p {
	font-family: sans-serif;
	font-size: 2em;
	padding-top: 70px;
	color: #fff;
}

#statusContent {
    width:auto;
    display:block;
    position:absolute;
}


#statusContent h1 {
    font-family:Arial,sans-serif;
    font-size:1.2em;
    text-align:center;
}

#statusContent #btnNextRound {
    display: block;
    margin: auto;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: #27ae60;
    color: #FFF;
    font-family: arial,sans-serif;
    font-size: 1.1em;
}
