* {
	margin: 0;
	padding: 0;
}
body {
	background: url('../images/bg.jpg') repeat-x fixed 0 0;
}

#wrapper {
	max-width: 992px;
	margin: auto;
}

#mainHeader {
	padding-top: 10px;
}
#mainHeader nav#handlekurv {
	float: right;
}
#logo {
	float: left;
	width: 216px;
	background: url('../images/logo.png') no-repeat 0 0;
	height: 115px;
}