* {
	margin: 0;
	padding: 0;
}
body {
	background: url('../images/bg.jpg') repeat-x fixed 0 0;
}

#wrapper {
	max-width: 992px;
	margin: auto;
}

#mainHeader {
    position:relative;
	padding-top: 10px;
}


#logo {
    float: left;
    width: 216px;
    background: url('../images/logo.png') no-repeat 0 0;
    height: 115px;
    margin-bottom: 20px;
}

#mainHeader nav#handlekurv {
	float: right;
	background-color: #f5821e;
	border-radius: 5px;
	width: 188px;
    top: 50px;
    right:0px;
    position:absolute;
}


#mainHeader nav#handlekurv > a {
    font-family:Arial;
    font-size:12px;
    color:#fff;

   
}

#mainHeader nav#handlekurv>a.cart_icon {
    background-image: url("../images/cart_ico_close_open.png");
    padding-left: 24px;
    width: 56px;
    margin-right: 10px;
}

#mainHeader nav#handlekurv>a.cart_link {
	
}

#expandable {
    background-color:#FFF;
    border:1px solid #000;
}

#mainHeader nav .delFromCart {
    cursor: pointer;
}

section#innhold {
	clear: both;
	background-color: #edf0f5;
	border: 1px solid #B2C2D9;
	padding: 10px;
}

section#hovedInnhold {
	width: 771px;
	display: inline-block;
    
}

section#hovedInnhold h1 {
    width:752px;
    background-image:url(../images/header_bg_prodpage.gif);
    background-size:cover;
    padding:3px 0px 0px 9px;
    color:#fff;
    font-family:'Century Gothic';
    font-weight:normal;
    font-size:16px;
}

section#hovedInnhold article  {
    display:inline-block;
    width:372px;
    overflow:hidden;
    margin:0px -5px 15px 0px;
    background-color:#fff;
    padding:10px 0px 5px 10px;
    min-height:160px;
    border: solid 1px #B2C2D9;
}
section#hovedInnhold article:nth-child(odd) {
    border-left: solid 0px #B2C2D9;
}
section#hovedInnhold article:nth-child(even) {
    border-right: solid 0px #B2C2D9;
}


section#hovedInnhold article h1, section#hovedInnhold article p {
    font-family:Arial;
    font-size:16px;
    display:inline-block;
    margin:0px 0px 5px 5px;
    padding:0px;
    color:#000;
}

section#hovedInnhold article h1 {
    font-family:Arial;
    font-weight:bold;
    width:auto;
    display:inline-block;
    background-image:none;
}

section#hovedInnhold article p {
    font-size:12px;
    width:255px;
    padding-top:10px;

}

section#hovedInnhold article img {
    width:108px;
    height:152px;
    float:left;
}

section#hovedInnhold article .price {
        width:76px;
        height:23px;
        background-image:url(../images/price-label.gif);
        margin:10px 1px 0px 5px;
        padding:3px 7px 0px 0px;
        float:left;
        font-size:16px;
        font-family:Arial;
        text-align:right;
        font-weight:bold;
    }

.price .cents {
    font-size: 10px;
    vertical-align: top;
    padding-left: 2px;
}

section#hovedInnhold article .buy {
        width:66px;
        height:25px;
        float:left;
        margin-top:10px;
        background-image:url(../images/buy.png);
        display:inline-block;
        cursor: pointer;
       
    }

aside#banner {
	width: 192px;
    display:inline-block;
    vertical-align:top;
    margin-top:0px;
}