body {
    margin:0;
    background-color: rgb(236, 240, 241);
}

#wrapper {
    width:1024px;
    margin: 25px auto;
    padding:0px 0px 25px 0px;
    background-color: rgb(216, 217, 218);
}

#mainHeader {
    width:100%;
    height:120px;
    text-align:center;  
}

#mainHeader h1 {
    font-family:Arial, sans-serif;
    font-size:3em;
    color: rgb(111, 38, 113);
    margin:0px;
    padding-top:25px;
}

#mainHeader #score {
    float:right;
    display:block;
    margin-right:20px;
    font-family:Arial;
    font-size:0.9em;
    color:rgb(128, 161, 182);
}

#mainContent {
    width:100%;
    height:100%;
    margin:auto;
    text-align:center;
}

#mainContent #questionContainer {
    margin:auto;
    width:600px;
    display:block;
    text-align:center;
}


#mainContent #questionContainer p {
    font-family:Arial;
    font-size:0.9em;
    color:rgb(59, 110, 143);
    font-weight:bold;
}

#mainContent #questionContainer h2 {
    font-family:Arial;
    font-size:1.2em;
    color: rgb(59, 110, 143);        
}

#mainContent #alternativesContainer {
    width:600px;
    margin:20px auto;
}

#alternativesContainer ul{
    list-style:none;
    margin:auto;
    padding:0px;
}

#alternativesContainer ul li {
    display:inline-block;
    width:150px;
    min-height:60px;
    font-family:Arial;
    font-size:0.9em;
    color: rgb(255, 255, 255); 
    background-color:rgb(128, 161, 182); 
    margin:0px 5px 0px 5px;
    padding:15px;
    vertical-align:top;
}

#alternativesContainer ul li:hover {
    cursor:pointer;
    background-color:rgb(59, 110, 143); 
}

#mainContent input[type=button] {
    width:120px;
    height:40px;
    display:inline-block;
    background-color: rgb(127, 140, 141);
    border:none;
    font-family:Arial, sans-serif;
    text-align:center;
    color:rgb(255, 255, 255);
}


#mainContent input[type=button]:hover {
    cursor:pointer;
    opacity:0.7;
}

#mainFooter {
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#mainFooter p {
    font-family:Arial;
    color:rgb(59, 110, 143);
    font-size: 0.7em;
    text-align:center;
    margin-bottom:0px;
}
